
#cards{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
 }
.card{
     width: 20%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 4px 3px palevioletred;
    margin: 20px;
}
.heading{
    text-align: center;
    margin: 20px;
}
.price{
    margin-top:10px;
    color: green;
    font-size: 2em;
    cursor: pointer;
}
#demo{
    color: red;
    margin:0 auto;
    font-size: 100px;
}
.heading{
   
    color: crimson;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 15px;
    float:left;
    color: white;
    background-color: darkgreen;
    border-radius: 5px;
    width:60px;
    text-align: center;

}
a:hover{
    color: chartreuse;
}